* 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p
{
    margin: 0px;    
}

nav
{
    background-color: blue;
    color: palevioletred;
    text-align: left;
    display: block;
    position: sticky;
    position: -webkit-sticky;
    overflow-y: auto;
    top: 0%;
    padding: 10px;
    z-index: 100;
}

nav .nav-item
{
    padding: 5px;
    display: inline-block;
}

.image img
{
    width: 100%;
}

header
{
    position: relative;
    text-align: center;
}

aside
{
    display: inline-block;
    background-color: black;
    color: yellow;
    border-radius: 20px;
    padding: 15px;
    z-index: 10;
    position: absolute;
    top: 35%;
    right: 20%;
    width: 20%;
    height: 15%;
}